/*BOOKLET.HTML CS-----------------------------------------------------*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body {
	
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;	
	background-color: white;
}

.jumbotron {
	/*margin: auto;
	margin-top: 2px;
	margin-bottom: 50px;
	padding: 0px;
	width: 75%;*/
	background-color: white;
	/*border: 3px groove grey;*/
}

#background-page{
	max-width:1960px;
	width:100%;
	height:90%;
	background-color:white;
	border: 10px double grey;
}

#main-wrapper {
	max-width: 1600px;
	width: 100%;
	height: 90%;
}


#flipbook {
	margin: auto;
	margin-top:5%;
	margin-bottom: 5%;
	width: 900px;
	height: 600px;
	background-color: #fce3e3;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px; 
}

.intro{
	background-color:green;


}

.page {
	margin-top: 2px;
	border-width: 2.3px;
	border-style: solid;
	border-color: #b3b3cc;
	max-width: 900px;
	max-height: 900px;

}



#go-back {
	margin: auto;
	margin-left: 10px;
	margin-top: 5px;
	padding: 10px 60px;
	border-radius: 10px;
	background-color:#ccc;
	color:white;
	font-size:150%;
	font-weight: 800;
}

a:hover #go-back{
	color:#c5fcba;
}


/*----------------fleepbook in small device-----------*/


@media screen and (max-width: 768px) {

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body {
	
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;	
	background-color: #eee;
}



#background-page {
	max-width:768px;
	padding-bottom:auto;
	width:100%;
	height:auto;
	background-color:#eee;
	
}


#flipbook {
	margin:auto;
	max-width:768;
	width:100%;
	height:100%;
	background-color: #fce3e3;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px; 
}


.page {
	margin-top: 2px;
	border-width: 2.3px;
	border-style: solid;
	border-color: #b3b3cc;
	width: 100%;
	height: 100%;

}



#go-back {
	margin:20 auto;
	padding: 10px 60px;
	border-radius: 10px;
	background-color:#ccc;
	color:white;
	font-size:150%;
	font-weight: 800;
}

a:hover #go-back{
	color:#c5fcba;
}


 

